body{
  padding: 25px;
  background-image: url("bg.jpg");
  color: black; 
}


.title { 
text-align: center; 
color: black; 
font-family: Franklin Gothic;
text-transform: uppercase;

}

a:hover {
  color:#FA72A8;
}


.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


}

img{
  float: left;
  margin-left: auto;
  width: 50%;

}

a{
color: white;
text-decoration: none;
font-family: Arial;
}
	
#what { 
color: black; 
}

#why { 
color: black; 
}

#howsoc { 
color: black; 
}

#tradgen { 
color: black; 
}

#whys { 
color: black; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.smalldesc{ 
  text-align: center;
  font-family: Arial;
  font-size: 23px;
  font-weight: 300;
  margin: auto;
  width: 50%;
  background-color: #E3F4FF;
}

.smalldesc2{ 
  text-align: center;
  font-style: italic;
  font-weight: 200;
  
  margin: auto;
  width: 50%;
  background-color: #FFE3E9; 
  
  position: relative;
  top: 16px;
  
}

li {
  float: right;

}

li a {
  display: block;
  padding: 8px;
  background-color: #3d6a9f;
}


ul{
  	font-family: Arial;
	font-weight: 300;
	background-color: #3D6A9F;
	
}




.sprite {
  background: url('sucrose.jpg') no-repeat 0 0;
  width: 97px;
  height: 124px;
  animation: varName 1s steps(4) infinite;
  }
  @keyframes varName{
  from{background-position:-15 -24;}
  to{background-position:-431 -31;}
  }




	
  
  
